body {
  background: url(/assets/img/bg.jpg) center/cover;
  overflow: hidden;
  min-height: 100vh;
  cursor: url(/assets/img/m_cible.png), crosshair;
  user-select: none;
}

h3 {
  font-size: 8rem;
  text-align: center;
  margin-top: 20px;
  color: rgba(231, 231, 231, 0.5);
  z-index: -3;
}

.bubble {
  position: absolute;
  background: rgb(255, 166, 0, 0.6);
  border-radius: 300px;
  transition: all 0.3s;
  animation: anim 8s forwards;
  opacity: 0;
  filter: hue-rotate(0deg);
}

@keyframes anim {
  to {
    top: -350px;
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(720deg);
  }
}

.resume {
  padding: 8px 14px;
  background: rgba(255, 255, 255, 0.21);
}

.resume:hover {
  background: red;
}
