body {
  background: url(/assets/img/bg.jpg) center/cover;
  overflow: hidden;
  min-height: 100vh;
  cursor: url(/assets/img/m_cible.png), crosshair;
  caret-color: red;
  user-select: none;
}

h3 {
  font-size: 10rem;
  text-align: center;
  margin-top: 20px;
  color: rgba(245, 245, 245, 0.336);
}

.bubble {
  position: absolute;
  background: rgb(255, 166, 0, 0.6);
  border-radius: 300px;
  transition: all 0.3s;
  animation: anim 8s forwards;
  opacity: 0;
  filter: hue-rotate(0deg);
}

@keyframes anim {
  to {
    top: -350px;
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(720deg);
  }
}
